<%- include('header.ejs') %>

  <div>
    <p>User ID: <%= session.userId %>
    </p>
    <% if (!session.userId) { %>
      <% // contenido para usuarios NO logados %>
        <p><a href="/login">Login</a> to access your products</p>
        <% } else { %>
          <h2>Products</h2>
          <% products.forEach(product=> { %>
            <p>
              <%= product.name %>
            </p>
            <% }) %>
              <% } %>
  </div>
  <%- include('footer.ejs') %>