<%- include('header.ejs') %>

  <h2>Productos</h2>
  <div>
    <% products.forEach(product=> { %>
      <p>
        <%= product.name %>
      </p>
      <% }) %>
  </div>
  <%- include('footer.ejs') %>