<%- include('header.html') %>

<div class="container">
  <h1>New Product</h1>

  <form method="POST" action= "/products/new">

    <!-- Name -->
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        required
      >
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label for="price" class="form-label">Price (€)</label>
      <input
        type="number"
        name="price"
        id="price"
        class="form-control"
        required
        min="0"
      >
    </div>

    <!-- Image -->
    <div class="mb-3">
      <label for="image" class="form-label">Image URL</label>
      <input
        type="text"
        name="image"
        id="image"
        class="form-control"
        placeholder="https://picsum.photos/..."
      >
    </div>

    <!-- Tags -->
    <div class="mb-3">
      <label for="tags" class="form-label">Tags (comma separated)</label>
      <input
        type="text"
        name="tags"
        id="tags"
        class="form-control"
        placeholder="mobile, lifestyle"
      >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

<%- include('footer.html') %>